*{
    box-sizing: border-box;
    opacity: 1;
}
 
body {
  background-color: #1d1d1d;
  font-family:'Times New Roman', Times, serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

form{
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: saturate(180%)blur(20px);
}

form {
   
  padding: 50px;
  border-radius: 30px;
  width: 350px;
  position: relative;
  z-index: 2;
  /* opacity: 0.8; */
}

h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
}

input {
    padding: 15px;
  border-radius: 30px;
  border: none;
  background-color: #333333;
  color:white;
  width: 100%;
  font-size: 16px;
  font-weight:lighter;
font-family: 'Times New Roman', Times, serif;
}

input:focus {
  outline: none;
  transform: translateY(-5px);
}

button:hover{
    transform: translateY(-5px);
}

label {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 16px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

input:focus ~ label,
input:valid ~ label {
  top: -25px;
  font-size: 14px;
  color: #4CAF50;
}


button[type="submit"],
button[type="reset"] {
  border-radius: 30px;
  border: none;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4CAF50;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
  width: 120px;
}
 button[type="submit"]:hover,
 button[type="reset"]:hover {
  background-color: #333333;
  color: #4CAF50;
}
 .scene {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      height: 400px;
      perspective: 1000px;
      z-index: 1;
    }
     .cube {
      width: 100%;
      height: 100%;
      position: relative;
      transform-style: preserve-3d;
      animation: rotate 8s infinite linear;
    }
     .front,
    .back,
    .top,
    .bottom,
    .left,
    .right {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      color: #fff;
      font-size: 3em;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      border-radius:100%;
    }
     .front {
      transform: translateZ(200px);
      background-color: #4CAF50;
      box-shadow: inset 0px 0px 0px 3px #1e1e1e;
    }
     .back {
      transform: translateZ(-200px) rotateY(180deg);
      background-color: #9C27B0;
      box-shadow: inset 0px 0px 0px 3px #1e1e1e;
    }
     .top {
      transform: rotateX(90deg) translateZ(-200px);
      background-color: #00BCD4;
      box-shadow: inset 0px 0px 0px 3px #1e1e1e;
    }
     .bottom {
      transform: rotateX(-90deg) translateZ(-200px);
      background-color: #FF5722;
      box-shadow: inset 0px 0px 0px 3px #1e1e1e;
    }
     .left {
      transform: rotateY(-90deg) translateZ(-200px);
      background-color: #FFEB3B;
      box-shadow: inset 0px 0px 0px 3px #1e1e1e;
    }
     .right {
      transform: rotateY(90deg) translateZ(-200px);
      background-color: #03A9F4;
      box-shadow: inset 0px 0px 0px 3px #1e1e1e;
      
    }
     @keyframes rotate {
      0% {
        transform: translate(-50%, -50%) rotateY(0deg) rotateX(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotateY(360deg) rotateX(360deg);
      }
    }
